<div class="row">
  <div class="col s12">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="file-field input-field col s8">
          <div class="btn">
            <span>File</span>
            <input type="file" accept="image/*" name="upload">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="input-field col s4">
          <input class="btn" type="submit" value="Send">
        </div>
      </div>
    </form>
  </div>
</div>
